**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/node_modules
**/dist
**/bin
**/obj
**/*.md
**/npm-debug.log
**/.env
**/.env.*
**/frontend/node_modules
**/backend/**/bin
**/backend/**/obj
*.db
*.db-shm
*.db-wal
